parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$amount is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$productCategory is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$productId is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$productName is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Stock\\:\\:\\$name is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Stock.php

		-
			message: "#^Property App\\\\Write\\\\Product\\\\Shared\\\\Domain\\\\Entity\\\\Stock\\:\\:\\$products is never read, only written\\.$#"
			count: 1
			path: src/Write/Product/Shared/Domain/Entity/Stock.php

		-
			message: "#^Property App\\\\Tests\\\\SmokeTestCase\\:\\:\\$router \\(Symfony\\\\Component\\\\Routing\\\\Router\\) does not accept object\\.$#"
			count: 1
			path: tests/SmokeTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Write\\\\Product\\\\Add\\\\Application\\\\AddProductHandlerTest\\:\\:\\$handler \\(App\\\\Write\\\\Product\\\\Add\\\\Application\\\\AddProductHandler\\) does not accept object\\.$#"
			count: 1
			path: tests/Write/Product/Add/Application/AddProductHandlerTest.php

		-
			message: "#^Parameter \\#1 \\$productValidationRepository of class App\\\\Write\\\\Product\\\\Shared\\\\Application\\\\Validator\\\\ProductValidator constructor expects App\\\\Write\\\\Product\\\\Shared\\\\Application\\\\Repository\\\\ProductValidationRepositoryInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 2
			path: tests/Write/Product/Shared/Application/Validator/ProductValidatorTest.php
