parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$amount of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\Amount constructor expects int, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Core/AddProduct/Infrastructure/AddProductRequestMapper.php

		-
			message: "#^Parameter \\#1 \\$category of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\ProductCategory constructor expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Core/AddProduct/Infrastructure/AddProductRequestMapper.php

		-
			message: "#^Parameter \\#1 \\$name of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\ProductName constructor expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Core/AddProduct/Infrastructure/AddProductRequestMapper.php

		-
			message: "#^Parameter \\#1 \\$uuid of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\ProductId constructor expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Core/AddProduct/Infrastructure/AddProductRequestMapper.php

		-
			message: "#^Property App\\\\Core\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$amount is never read, only written\\.$#"
			count: 1
			path: src/Core/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Core\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$category is never read, only written\\.$#"
			count: 1
			path: src/Core/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Core\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$id is never read, only written\\.$#"
			count: 1
			path: src/Core/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Core\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$name is never read, only written\\.$#"
			count: 1
			path: src/Core/Shared/Domain/Entity/Product.php

		-
			message: "#^Property App\\\\Core\\\\Shared\\\\Domain\\\\Entity\\\\Product\\:\\:\\$stock is never read, only written\\.$#"
			count: 1
			path: src/Core/Shared/Domain/Entity/Product.php

		-
			message: "#^Parameter \\#1 \\$amount of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\Amount constructor expects int, mixed given\\.$#"
			count: 1
			path: src/Core/ShowOneProduct/Infrastructure/SingleProductDataWrapper.php

		-
			message: "#^Parameter \\#1 \\$name of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\ProductName constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/ShowOneProduct/Infrastructure/SingleProductDataWrapper.php

		-
			message: "#^Parameter \\#1 \\$name of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\StockName constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/ShowOneProduct/Infrastructure/SingleProductDataWrapper.php

		-
			message: "#^Parameter \\#1 \\$uuid of class App\\\\Core\\\\Shared\\\\Domain\\\\ValueObject\\\\ProductId constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Core/ShowOneProduct/Infrastructure/SingleProductDataWrapper.php

		-
			message: "#^Parameter \\#1 \\$data of class App\\\\Core\\\\ShowOneProduct\\\\Infrastructure\\\\SingleProductDataWrapper constructor expects array\\<string, mixed\\>, mixed given\\.$#"
			count: 1
			path: src/Core/ShowOneProduct/Infrastructure/SingleProductRepository.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\AddProduct\\\\Application\\\\AddProductHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\AddProduct\\\\Application\\\\AddProductHandler\\) does not accept object\\.$#"
			count: 1
			path: tests/Core/AddProduct/Application/AddProductHandlerTest.php

		-
			message: "#^Parameter \\#1 \\$productValidationRepository of class App\\\\Core\\\\Shared\\\\Domain\\\\Validator\\\\ProductValidator constructor expects App\\\\Core\\\\Shared\\\\Application\\\\Repository\\\\ProductValidationRepositoryInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 2
			path: tests/Core/Shared/Domain/Validator/ProductValidatorTest.php

		-
			message: "#^Parameter \\#1 \\$queue of class App\\\\Core\\\\Shared\\\\Infrastructure\\\\Event\\\\EventDispatcher constructor expects App\\\\Core\\\\Shared\\\\Infrastructure\\\\Event\\\\EventQueueInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 1
			path: tests/Core/Shared/Infrastructure/Event/EventDispatcherTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\Shared\\\\Infrastructure\\\\Repository\\\\StockRepositoryTest\\:\\:\\$repository \\(App\\\\Core\\\\Shared\\\\Application\\\\Repository\\\\StockRepositoryInterface\\) does not accept object\\.$#"
			count: 1
			path: tests/Core/Shared/Infrastructure/Repository/StockRepositoryTest.php

		-
			message: "#^Parameter \\#2 \\$stockBuilder of class App\\\\Tests\\\\Core\\\\ShowOneProduct\\\\ShowOneProductTestData constructor expects App\\\\Tests\\\\DataBuilder\\\\TestStockBuilder, object given\\.$#"
			count: 1
			path: tests/Core/ShowOneProduct/Application/ShowOneProductHandlerTest.php

		-
			message: "#^Property App\\\\Tests\\\\Core\\\\ShowOneProduct\\\\Application\\\\ShowOneProductHandlerTest\\:\\:\\$handler \\(App\\\\Core\\\\ShowOneProduct\\\\Application\\\\ShowOneProductHandler\\) does not accept object\\.$#"
			count: 1
			path: tests/Core/ShowOneProduct/Application/ShowOneProductHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$stockBuilder of class App\\\\Tests\\\\Core\\\\ShowOneProduct\\\\ShowOneProductTestData constructor expects App\\\\Tests\\\\DataBuilder\\\\TestStockBuilder, object given\\.$#"
			count: 1
			path: tests/Core/ShowOneProduct/Presentation/ShowOneProductControllerTest.php

		-
			message: "#^Method App\\\\Tests\\\\IntegrationTestCase\\:\\:getEntityManager\\(\\) should return Doctrine\\\\ORM\\\\EntityManagerInterface but returns object\\.$#"
			count: 1
			path: tests/IntegrationTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\SmokeTestCase\\:\\:getEntityManager\\(\\) should return Doctrine\\\\ORM\\\\EntityManagerInterface but returns object\\.$#"
			count: 1
			path: tests/SmokeTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\SmokeTestCase\\:\\:\\$router \\(Symfony\\\\Component\\\\Routing\\\\Router\\) does not accept object\\.$#"
			count: 1
			path: tests/SmokeTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Stub\\\\EventStoreStub\\:\\:\\$events is never read, only written\\.$#"
			count: 1
			path: tests/Stub/EventStoreStub.php
